{% extends "../templates/inicio/base_inicio.html" %}

{% block titulo %} Actualizar datos de perfil {% endblock %}

{% block contenido %}

	{% if messages %} 
		<ul>
			{% for message in messages %}
				<li style="color: green;">{{ message }}</li> 
			{% endfor %}
		</ul>
	{% endif %}
	{% if errors %} 
		<ul>
			{% for error in errors %}
				<li style="color: red;">{{ error }}</li> 
			{% endfor %}
		</ul>
	{% endif %}
	<div>
		<form method="post" id="login-form">
			{% csrf_token %}
			<table>
				{{ form.as_table }}
			</table>
			<input type="submit" name="Actualizar">
		</form>
	</div>
{% endblock %}