<div class="">
	<form id="acctionForm" class="acctionForm">
		{% csrf_token %}
		<table>{{ actionForm.as_table }}</table>
		</table>
		<input type="submit" class="btn btn-primary" name="guardar" id="guardar" value="Registrar">
	</form>
</div>