{% if metricsForms %}
	{% for metricForm in metricsForms %}
		<div class="modal-dialog modal-lg">
		    <div class="modal-content">
			<form id="item_update_form" method="post" >
				{% csrf_token %}
				<table>
					{{ metricForm.as_table }}
				</table>
				<input type="submit" name="guardar" id="guardar">
			</form>
			</div>
		</div>
	{% endfor %}
{% endif %}
