{% extends "../templates/base.html" %}

{% load static %}

{% block titulo %} Inicio{% endblock %}
{% block js %}
    <script src="{% static "js/jquery-3.3.1.js" %}"></script>
    <script src="{% static "js/adm_loads.js" %}"></script>
{% endblock %}

{% block contenido %} 
	{% block navigation %}
		<div id="navigation">
		    <ul class="breadcrumb">
				{% for bread in breadcrumbnav %}
			    	<li>
				    	{% if forloop.last %}
				    		{{ bread.name }}
				    	{% else %}
					    	<a href="{{ bread.link }}">{{ bread.name }}</a>
				    	{% endif %}
			    	</li>
			    {% empty %}
					<li>Inicio</li>
				{% endfor %}
		    </ul>
		</div>
	{% endblock %}
	{% block detalle %}
	{% endblock %}	

{% endblock %}