font-family: 'Quicksand', sans-serif;
font-family: 'Jua', sans-serif;
font-family: 'Permanent Marker', cursive;
.sdfsdf{

}
.description-index{
	font-family: Quicksand;
	font-size: 2rem;
	padding: 5rem 7rem;
}
.description-index li{
	color: black;
	list-style-type: square; 
	font-size: 2rem;
}
.block-day{
	max-height: 7rem;
}
.day-calendar{
	text-align: center;
	font-weight: bold;
}
.eventlist-calendar{
	text-align: right;
	font-weight: normal;
}
.link-calendar{
	color: black;
}
.modal-body {
    /* 100% = dialog height, 120px = header + footer */
    max-height: calc(100% - 120px);
    overflow-y: scroll;
}
.modal-dialog{
	margin: 11rem auto;
}

.head {
	background-color: #337ab7;
	width:100%; 
	height: 10rem;
	color: white;
	color: white;
}
.footer{
	background-color: #9a98998a;
	width:100%;
	height: 11rem;
	position: relative;
	float: left;
	margin: 0.5rem;
	padding: 1rem;
}
.footer p{
	font-size: 10px;
	text-align: center;
}
.logo{
	width: 17%;
	float: left;
	position: relative;
	max-height: -webkit-fill-available;
}
.sitetitle{
	font-size: 3rem;
	width: 68%;
	float: left;
	position: relative;
	text-align: center;
	margin-top:2%;
}
.maincontent{
	margin: 0.5rem;
}
.mainmenu{
	float: left;
}
.proyectoslist a{
	color: inherit;
	text-decoration: none;
}
.faseslist a{
	color: inherit;
	text-decoration: none;
}
.title{
	align-self: center;
	text-align: center;
	color: #337ab7;
}
.rollist{
	margin: 0.5rem;
	padding: 0.5rem;
}
.rolmenu{

}
.roldescripcion{

}
.list{
	margin: 0.5rem;
	margin-right:5%;
	padding: 0.5rem;
	border-radius: 0 1rem;
	border-style: solid;
    border-width: 0.2rem;
	border-color: #337ab7;
}
.eventoslist{
    float: left;
    width: 95%;
}
.images {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    vertical-align: middle
}
.descripcion{
	position: relative;
	float: left;
	width: 70%;
}
.menu{
	position: relative;
	float: left;
	width: 30%;
}
.roldescripcion{
	float: left;
	position: relative;
	width: 70%;
}
.rolmenu{
	position: relative;
	width: 30%;

}
.proyectoslist{
	width: 50%;
    float: left;
	padding: 2%;
	margin-left:27%;
}
.proyectodescripcion{
	position: relative;
	float: left;
	width: 70%;
}
.proyectodmenu{
	position: relative;
	float: left;
	width: 30%;
}
.add_button{
	width: 3rem;
	height: 3rem;
}
.div_name{
	text-align: right;
	width: 100%;
	height: 3rem;
	background-color: #ddd;
	margin: auto;
	color: black;
	padding: 0.3rem 1rem;
}
.faseslist{
	width: 90%;
    float: left;
	padding:2%;
	padding-left:7%;
}
.fasedetalle{
	float: left;
	position: relative;
	width: 70%;
}
.fasemenu{
	float: left;
	position: relative;
	width: 30%;
}
.productoslist{
	margin: 0.5rem;
	padding: 0.5rem;
}
.perfil_image{
	width: 3rem;
	border-radius: 20px;
}
.div_left{
	width: 59%;
	height: auto;
	position: relative;
	float: left;
	font-size: 15px;
}



.div_rigth{
	width: 40%;
	position: relative;
	float: left;
	font-size: 15px;
}
.div_template{
	width: 45%;
	height: auto;
	position: relative;
	float: left;
	margin: 0.5rem;
}
.div_document{
	width: 45%;
	height: auto;
	position: relative;
	float: left;
	margin: 0.5rem;
}
.div_rigth h3{
	align-self: center;
	text-align: center;
}
.div_add_item{
	margin-bottom: 1rem;
    position: relative;
    width: 100%;
    float: left;
}
.div_add_item div{
	align-self: center;
	text-align: center;
}
.div_main{
	width: 100%;
}
.criterioslist{
	margin: 1rem;
	padding: 0.5rem;
}
/* classs fase */
.faseproyectoslist{
	background-color: #7aafb559;
}
.fasestage{
	width: 21%;
	margin: 1rem;
	padding: 0.5rem;
	border-radius: 4rem;
	border-style: solid;
    border-width: 0.2rem;
	align-self: center;
	text-align: center;
	position: relative;
	float: left;
}
.fasearrow{
	width: 5%;
	padding: 2%;
	position: relative;
	float: left;
}
.metric_container{
	width: 100%;
	height: 600px;
}
.chartgraph {
	width: 70%;
	float: left;
	height: 300px;
}
.corrective_actions{
	width: 50%;
	max-height: 300px;
	float: left;
	position: relative;
	overflow: scroll;
}
.message_metric_alert{
	width: 50%;
	height: 100px;
	float: left;
	position: relative;
}
.thumbevent{
	font-size:14px;
}
.month{
	border-style: solid;
    border-width: 0.2rem;
	align-self: center;
	text-align: center;
	margin: auto;
	width: 75%;
}

.mont{
    border-width: 0.2rem;
	align-self: center;
	text-align: center;
	margin: auto;
}

.mon,.tue,.wed,.thu,.fri,.sat,.sun {
	width: 15%;
	align-self: center;
	text-align: center;
}
.today{
	border-radius: 2rem;
    background-color: #d421216b;
}
.eventtoday{
	border-radius: 0.5rem;
	background-color: #8983ff54;
}

.form{
	margin-left:35%;
	
}

.texto{
	     border-radius: 20px;
    background: #337ab7;
    padding: 5px; 
    width: 100px;
    height: 40px; 
	color:white;
	margin:2%;
	padding-left: 1%;
	margin-left:60px;
	
	font-size:15px;
	/* padding-bottom: 5%; */
}

#login-form {
	font-size:20px;
	margin-left: 40%;

}

#login-form th {
	padding-top: 3%;
}

#login-form button{
	     border-radius: 20px;
    background: #337ab7;
    padding: 5px; 
    width: 100px;
    height: 40px; 
	color:white;
	margin:2%;
	padding-left: 1%;
	margin-left:60px;
	
	font-size:15px;
}

#login-form label{
	margin-left:-25%;
}

a{
	font-size:16px;
	margin-left:25px;
	color:  #337ab7;
}


li{
	font-size:16px;
	margin-left:25px;
	color:  #337ab7;
}

input{
	 border-radius: 10px;
	 margin:1px;
}

.form td, th{
	padding:1%;
	padding-right:30px;
}

.form label{
	margin-right:20px;
}
.eliminar{
	margin-left:40%;
	font-size: 12px;
	
}

.eliminar p{
	font-size: 18px;
	color: #337ab7;
	
}

.eliminar td{
	padding-left: 5%;
}

.calendario{
	font-size: 14px;
	margin-left: 5%;
}
.modalbackground{
	width: -webkit-fill-available;
	height: -webkit-fill-available ;
	position: inherit;
	background-color: black;
	opacity: 0.5;
	z-index: 1055;
	width: 100%;
	height: 100%;
}
.modalcontent{
	width: 70%;
	margin: 1rem 15%;
	padding: 2rem;
	position: inherit;
	background-color: white;
	z-index: 1060;
	border-style: solid;
	border-width: 2px;
	border-radius: 1rem;
}
.iframe{
	width: 95%;
	height: 85%;
	margin: 1rem;
}
.data-input{
	width: 100%;
	float: left;
}