{% load static %}
<div class="container">
    <br />
    <br />
    <br />

    <div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        Esta sección contiene información sobre preguntas frecuentes sobre el uso de la herramienta <strong>SACS</strong>. 
    </div>

    <br />

    <div class="panel-group" id="accordion">
        <div class="faqHeader"><h3>Preguntas generales</h3></div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Que es <strong>SACS</strong>?</a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse ">
                <div class="panel-body">
                    <strong>SACS</strong> es una herramienta de soporte para el asgurameinto de la calidad, esto es, ayuda en el aseguramiento de la calidad, facilitando el seguimiento de métricas de los productos de trabajo y criterios para la aceptación de los productos. <strong>SACS</strong> no sustituye a alguna herramienta que utilices para la gestión de tus proyectos sino que trabajan en conjunto para una mayor calidad en tus proyectos de desarrollo. 
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Cómo utilizo <strong>SACS</strong>?</a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse ">
                <div class="panel-body">
                    <strong>SACS</strong> se ajusta a tu proyecto, ya que es flexible en el sentido que puedes registrar tantas fases, productos, roles y eventos necesites en tu proyecto. En este sentido, agregas los elementos que necesites y de acuerdo a tu metodología de desarrollo para llevar el seguimiento del aseguramiento de la calidad.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Se requiere una cuenta para usar <strong>SACS</strong>?</a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse ">
                <div class="panel-body">
                    Sí, para utilizar <strong>SACS</strong> es necesario contar con un registro. para registrarse seleccione la opción <strong>Resitrarse</strong> del menú superior de esta página.
                </div>
            </div>
        </div>
        <div class="faqHeader"><h3>Proyecto</h3></div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">Puedo regirstrar un proyecto que utiliza prácticas ágiles?</a>
                </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse">
                <div class="panel-body">
                    Sí, puedes registrar un proyecto no importando la metodología o proacticas que realices, ya que puedes configurar que las fases se realicen en paralelo.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">Qué necesito para registrar mi proyecto?</a>
                </h4>
            </div>
            <div id="collapseFive" class="panel-collapse collapse">
                <div class="panel-body">
                    Para registrar un proyecto es necesario que cuentes con un <strong>plan de proyecto</strong>, ya que necesitas conocer las fechas e hitos dentro del poryecto y productos de trabajo que se necesitan en cada hito.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">Porqué no puedo ver en la sección de revisión un proyecto registrado?</a>
                </h4>
            </div>
            <div id="collapseSix" class="panel-collapse collapse">
                <div class="panel-body">
                    Para visualizar un proyecto en esta sección el proyecto debe estar aprobada su configuración, para revisar su estátus vaya a la página principal de <img src="{% static "images/guideImages/op_gp.png" %}">, verifique que en el estatus de la configuración diga "Aprobada", si no es así seleccione la opción <img src="{% static "images/guideImages/op_ac.png" %}">, seleccione la oción Autorizar configuración y guarde el formulario.
                </div>
            </div>
        </div>
        <div class="faqHeader"><h3>Equipo</h3></div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">Puedo configurar accesos de acuerdo al perfil del equipo?</a>
                </h4>
            </div>
            <div id="collapseSeven" class="panel-collapse collapse">
                <div class="panel-body">
                    Sí, cada rol tiene asignadas fases, por lo que cada rol que agregres tendra solo las fases asignadas disponibles para revisión. Las fases y roles asignados son los siguientes:
                </div>
            </div>
        </div>
    </div>
</div>