<h3 class="side-title">Glosario de terminos</h3>
<br>
<ul class="list-unstyled">
	<li>Proyecto : Esfuerzo acotado en tiempo que...</li>
	<li>Fase: </li>
	<li>Producto de trabajo : Elemento generado a partir de la realización del trabajo en un proyecto.</li>
	<li>Rol : Equiqueta que identifica responsabilidades u atribuciones a una persona.</li>
	<li>Métrica :</li>
	<li>Criterio :</li>
	<li>Dato :</li>
	<li>Acción correctiva :</li>
	<li>Aseguramiento de calidad :</li>
</ul>