{% load static %}
<div class="container">
    <br />
    <br />
    <br />

    <div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        Esta sección contiene los procedimientos de como utilizar la herramienta <strong>SACS</strong>. 
    </div>

    <br />
    <div class="faqHeader"><h3>Guia para utilizar la herramienta</h3></div>
    <div class="panel-group" id="accordion2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwentyone">Registrar un proyecto</a>
                </h4>
            </div>
            <div id="collapseTwentyone" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul class="list-group">
					  <li class="list-group-item">Seleccione la opción <img src="{% static "images/guideImages/op_gp.png" %}"> visible al iniciar sesión en el menú principal de la herramienta.</li>
					  <li class="list-group-item">Seleccione la opción  <img src="{% static "images/guideImages/op_add.png" %}"> y se le abrirá un formulario con los datos requeridos para el registro.</li>
					  <li class="list-group-item">Llene los campos que se le solicitan.</li>
					  <li class="list-group-item">Seleccione la opción <img src="{% static "images/guideImages/btn_guardar.png" %}"> en el formulario.</li>
					</ul>
					  <li class="list-group-item">Si no existe ningun conflicto se mostrara el listado de los proyectos registrados en su perfil.</li>
					</ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwentyTwo">Registrar las fases a un proyecto</a>
                </h4>
            </div>
            <div id="collapseTwentyTwo" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul class="list-group">
					  <li class="list-group-item">En la ventana de <img src="{% static "images/guideImages/op_gp.png" %}"> identifique el proyecto al que le quiere asignar la fase.</li>
					  <li class="list-group-item">Seleccione el icono  <img src="{% static "images/guideImages/op_fs.png" %}"> y se le abrirá una página con las fases asignadas al proyecto.</li>
					  <li class="list-group-item">Seleccione el icono  <img src="{% static "images/guideImages/op_add.png" %}"> que está en la parte inferior del listado.</li>
					  <li class="list-group-item">Llene los campos que se le solicitan en el formulario.</li>
					  <li class="list-group-item">Seleccione la opción <img src="{% static "images/guideImages/btn_guardar.png" %}"> en el formulario.</li>
					</ul>
					  <li class="list-group-item">Si no existe ningun conflicto se mostrara el listado de las fases registradas en el proyecto.</li>
					</ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwentyThree">Registrar roles a un proyecto</a>
                </h4>
            </div>
            <div id="collapseTwentyThree" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul class="list-group">
					  <li class="list-group-item">En la ventana de <img src="{% static "images/guideImages/op_gp.png" %}"> identifique el proyecto al que le quiere asignar el rol.</li>
					  <li class="list-group-item">Seleccione el icono  <img src="{% static "images/guideImages/op_rl.png" %}"> y se le abrirá una página con los roles asignados al proyecto.</li>
					  <li class="list-group-item">Seleccione el icono  <img src="{% static "images/guideImages/op_add.png" %}"> que está en la parte inferior del listado de roles.</li>
					  <li class="list-group-item">Llene los campos que se le solicitan en el formulario.</li>
					  <li class="list-group-item">Seleccione la opción <img src="{% static "images/guideImages/btn_guardar.png" %}"> en el formulario.</li>
					</ul>
					  <li class="list-group-item">Si no existe ningun conflicto se mostrara el listado de los roles registrados en el proyecto.</li>
					</ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwentyFour">Crear eventos en un proyecto</a>
                </h4>
            </div>
            <div id="collapseTwentyFour" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul class="list-group">
					  <li class="list-group-item">En la ventana de <img src="{% static "images/guideImages/op_gp.png" %}"> identifique el proyecto al que le quiere asignar el evento.</li>
					  <li class="list-group-item">Seleccione el icono  <img src="{% static "images/guideImages/op_cl.png" %}"> y se le abrirá una página con el calendario de eventos del proyecto.</li>
					  <li class="list-group-item">Idnetifique la fecha del evento y seleccione el icono  <img src="{% static "images/guideImages/op_add.png" %}"> que está al lado del número del día.</li>
					  <li class="list-group-item">Llene los campos que se le solicitan en el formulario.</li>
					  <li class="list-group-item">Seleccione la opción <img src="{% static "images/guideImages/btn_guardar.png" %}"> en el formulario.</li>
					</ul>
					  <li class="list-group-item">Si no existe ningun conflicto se mostrara el calendario de eventos del proyecto con el nombre cada evento en la fecha asignada.</li>
					</ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwentyFive">Validar criterios de un producto</a>
                </h4>
            </div>
            <div id="collapseTwentyFive" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="alert alert-info" role="alert">
                      Esta acción solo la pueden realizar los roles correspondientes o responsables de calidad.
                    </div>
                    <ul class="list-group">
                      <li class="list-group-item">En la ventana de <img src="{% static "images/guideImages/op_rp.png" %}"> verifique que este disponible el proyecto.</li>
                      <li class="list-group-item">Seleccione el proyecto.</li>
                      <li class="list-group-item">Seleccione la fase del producto a verificar.</li>
                      <li class="list-group-item">Seleccione la opción  <img src="{% static "images/guideImages/op_cri.png" %}"> correspondiente al producto a verificar.</li>
                      <li class="list-group-item">Marque el criterio que desea actualizar.</li>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwentySix">Aprobar criterios de un producto</a>
                </h4>
            </div>
            <div id="collapseTwentySix" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="alert alert-info" role="alert">
                      Esta acción es exclusiva del cliente.
                    </div>
                    <ul class="list-group">
                      <li class="list-group-item">En la ventana de <img src="{% static "images/guideImages/op_rp.png" %}"> verifique que este disponible el proyecto.</li>
                      <li class="list-group-item">Seleccione el proyecto.</li>
                      <li class="list-group-item">Seleccione la fase del producto a validar.</li>
                      <li class="list-group-item">Seleccione la opción <img src="{% static "images/guideImages/op_cri.png" %}"> correspondiente al producto a validar.</li>
                      <li class="list-group-item">Seleccione el botón <img src="{% static "images/guideImages/op_vac.png" %}">.</li>
                      <li class="list-group-item">Confirme el formulario.</li>
                      <li class="list-group-item">El producto mostrará su estatus como: verificado.</li>
                </div>
            </div>
        </div>
    </div>
</div>